@inherits LayoutComponentBase

<NavBar />


<div class="page">
    <main>
        <div class="container">
            <div class=" pt-3 pb-2 stats rounded-3">
                <div class="row rounded">
                    <DailyStats/>
                </div>
            </div>
            <div class="  pt-3 ps-3 pe-3 pb-0 mt-3 comp rounded-3">
                @Body
            </div>
        </div>
    </main>
</div>



